.card {
  color: rgb(127, 255, 255);
  }
  
  .item h3 {
    margin: 0.5rem 0;
    font-size: 2.25rem;
    color: #3a3a3a;
  }
  
  .item header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .price {
    border-radius: 30px;
    padding: 0.15rem 1.5rem;
    background-color: #3a3a3a;
    color: rgb(149, 230, 230);
    font-size: 1.5rem;
  }
  
  .item p {
    color: #3a3a3a;
    font-size: 1.3rem;
    font-style: italic;
    width: 80%;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .btn {
    background-color: #3a3a3a;
    color: rgb(149, 230, 230);
    border-radius: 2rem;
  }